<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Performers</key>
	<dict>
		<key>Player</key>
		<dict>
			<key>ImageName</key>
			<string>Frank</string>
		</dict>
		<key>Person</key>
		<dict>
			<key>ImageName</key>
			<string>Ted</string>
		</dict>
	</dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Player</key>
			<dict>
				<key>Create</key>
				<dict>
					<key>Position</key>
					<dict>
						<key>x</key>
						<integer>100</integer>
						<key>y</key>
						<integer>100</integer>
					</dict>
				</dict>
			</dict>
			<key>Person</key>
			<dict>
				<key>Create</key>
				<dict>
					<key>Position</key>
					<dict>
						<key>x</key>
						<integer>100</integer>
						<key>y</key>
						<integer>100</integer>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Player</key>
			<dict>
				<key>Say</key>
				<dict>
					<key>Replica</key>
					<string>AAAA!!!</string>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
