<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TextureAtlases</key>
	<dict>
		<key>Player</key>
		<dict>
			<key>Walk_Left</key>
			<string>PlayerBotWalkL</string>
			<key>Walk_Right</key>
			<string>PlayerBotWalkR</string>
			<key>Idle_Left</key>
			<string>PlayerBotIdleL</string>
			<key>Idle_Right</key>
			<string>PlayerBotIdleR</string>
		</dict>
		<key>Enemy</key>
		<dict>
			<key>Walk_Left</key>
			<string>EnemyWalkL</string>
			<key>Walk_Right</key>
			<string>EnemyWalkR</string>
			<key>Idle_Left</key>
			<string>EnemyIdleL</string>
			<key>Idle_Right</key>
			<string>EnemyIdleR</string>
			<key>Run_Left</key>
			<string>EnemyRunL</string>
			<key>Run_Right</key>
			<string>EnemyRunR</string>
			<key>Attack_Left</key>
			<string>EnemyAttackL</string>
			<key>Attack_Right</key>
			<string>EnemyAttackR</string>
			<key>Dead_Left</key>
			<string>EnemyDeadL</string>
			<key>Dead_Right</key>
			<string>EnemyDeadR</string>
		</dict>
	</dict>
</dict>
</plist>
