<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundMusic</key>
	<string>background_music_1</string>
	<key>StartRoom</key>
	<string>room1</string>
	<key>Player</key>
	<dict>
		<key>Textures</key>
		<array>
			<dict>
				<key>Pair</key>
				<string>Idle_Right</string>
				<key>Repeat</key>
				<true/>
				<key>Name</key>
				<string>Idle_Left</string>
			</dict>
			<dict>
				<key>Pair</key>
				<string>Idle_Left</string>
				<key>Repeat</key>
				<true/>
				<key>Name</key>
				<string>Idle_Right</string>
			</dict>
			<dict>
				<key>Pair</key>
				<string>Walk_Left</string>
				<key>Repeat</key>
				<true/>
				<key>Name</key>
				<string>Walk_Right</string>
			</dict>
			<dict>
				<key>Pair</key>
				<string>Walk_Right</string>
				<key>Repeat</key>
				<true/>
				<key>Name</key>
				<string>Walk_Left</string>
			</dict>
		</array>
		<key>CurrentHealth</key>
		<integer>20</integer>
		<key>PhysicsBodyRadius</key>
		<integer>30</integer>
		<key>MessageShowDistance</key>
		<integer>30</integer>
		<key>MaxHealth</key>
		<integer>20</integer>
	</dict>
	<key>Enemies</key>
	<array>
		<dict>
			<key>Textures</key>
			<array>
				<dict>
					<key>Pair</key>
					<string>Idle_Right</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Idle_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Idle_Left</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Idle_Right</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Walk_Right</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Walk_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Walk_Left</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Walk_Right</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Run_Left</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Run_Right</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Run_Right</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Run_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Attack_Right</string>
					<key>Repeat</key>
					<false/>
					<key>Name</key>
					<string>Attack_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Attack_Left</string>
					<key>Repeat</key>
					<false/>
					<key>Name</key>
					<string>Attack_Right</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Dead_Right</string>
					<key>Repeat</key>
					<false/>
					<key>Name</key>
					<string>Dead_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Dead_Left</string>
					<key>Repeat</key>
					<false/>
					<key>Name</key>
					<string>Dead_Right</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Textures</key>
			<array>
				<dict>
					<key>Pair</key>
					<string>Idle_Right</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Idle_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Idle_Left</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Idle_Right</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Walk_Right</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Walk_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Walk_Left</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Walk_Right</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Run_Left</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Run_Right</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Run_Right</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Run_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Attack_Right</string>
					<key>Repeat</key>
					<false/>
					<key>Name</key>
					<string>Attack_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Attack_Left</string>
					<key>Repeat</key>
					<false/>
					<key>Name</key>
					<string>Attack_Right</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Dead_Right</string>
					<key>Repeat</key>
					<false/>
					<key>Name</key>
					<string>Dead_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Dead_Left</string>
					<key>Repeat</key>
					<false/>
					<key>Name</key>
					<string>Dead_Right</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Textures</key>
			<array>
				<dict>
					<key>Pair</key>
					<string>Idle_Right</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Idle_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Idle_Left</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Idle_Right</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Walk_Right</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Walk_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Walk_Left</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Walk_Right</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Run_Left</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Run_Right</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Run_Right</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Run_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Attack_Right</string>
					<key>Repeat</key>
					<false/>
					<key>Name</key>
					<string>Attack_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Attack_Left</string>
					<key>Repeat</key>
					<false/>
					<key>Name</key>
					<string>Attack_Right</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Dead_Right</string>
					<key>Repeat</key>
					<false/>
					<key>Name</key>
					<string>Dead_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Dead_Left</string>
					<key>Repeat</key>
					<false/>
					<key>Name</key>
					<string>Dead_Right</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Textures</key>
			<array>
				<dict>
					<key>Pair</key>
					<string>Idle_Right</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Idle_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Idle_Left</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Idle_Right</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Walk_Right</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Walk_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Walk_Left</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Walk_Right</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Run_Left</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Run_Right</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Run_Right</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Run_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Attack_Right</string>
					<key>Repeat</key>
					<false/>
					<key>Name</key>
					<string>Attack_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Attack_Left</string>
					<key>Repeat</key>
					<false/>
					<key>Name</key>
					<string>Attack_Right</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Dead_Right</string>
					<key>Repeat</key>
					<false/>
					<key>Name</key>
					<string>Dead_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Dead_Left</string>
					<key>Repeat</key>
					<false/>
					<key>Name</key>
					<string>Dead_Right</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Textures</key>
			<array>
				<dict>
					<key>Pair</key>
					<string>Idle_Right</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Idle_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Idle_Left</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Idle_Right</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Walk_Right</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Walk_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Walk_Left</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Walk_Right</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Run_Left</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Run_Right</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Run_Right</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Run_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Attack_Right</string>
					<key>Repeat</key>
					<false/>
					<key>Name</key>
					<string>Attack_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Attack_Left</string>
					<key>Repeat</key>
					<false/>
					<key>Name</key>
					<string>Attack_Right</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Dead_Right</string>
					<key>Repeat</key>
					<false/>
					<key>Name</key>
					<string>Dead_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Dead_Left</string>
					<key>Repeat</key>
					<false/>
					<key>Name</key>
					<string>Dead_Right</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Textures</key>
			<array>
				<dict>
					<key>Pair</key>
					<string>Idle_Right</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Idle_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Idle_Left</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Idle_Right</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Walk_Right</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Walk_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Walk_Left</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Walk_Right</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Run_Left</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Run_Right</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Run_Right</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Run_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Attack_Right</string>
					<key>Repeat</key>
					<false/>
					<key>Name</key>
					<string>Attack_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Attack_Left</string>
					<key>Repeat</key>
					<false/>
					<key>Name</key>
					<string>Attack_Right</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Dead_Right</string>
					<key>Repeat</key>
					<false/>
					<key>Name</key>
					<string>Dead_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Dead_Left</string>
					<key>Repeat</key>
					<false/>
					<key>Name</key>
					<string>Dead_Right</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Textures</key>
			<array>
				<dict>
					<key>Pair</key>
					<string>Idle_Right</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Idle_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Idle_Left</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Idle_Right</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Walk_Right</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Walk_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Walk_Left</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Walk_Right</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Run_Left</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Run_Right</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Run_Right</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Run_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Attack_Right</string>
					<key>Repeat</key>
					<false/>
					<key>Name</key>
					<string>Attack_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Attack_Left</string>
					<key>Repeat</key>
					<false/>
					<key>Name</key>
					<string>Attack_Right</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Dead_Right</string>
					<key>Repeat</key>
					<false/>
					<key>Name</key>
					<string>Dead_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Dead_Left</string>
					<key>Repeat</key>
					<false/>
					<key>Name</key>
					<string>Dead_Right</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Textures</key>
			<array>
				<dict>
					<key>Pair</key>
					<string>Idle_Right</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Idle_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Idle_Left</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Idle_Right</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Walk_Right</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Walk_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Walk_Left</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Walk_Right</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Run_Left</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Run_Right</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Run_Right</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Run_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Attack_Right</string>
					<key>Repeat</key>
					<false/>
					<key>Name</key>
					<string>Attack_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Attack_Left</string>
					<key>Repeat</key>
					<false/>
					<key>Name</key>
					<string>Attack_Right</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Dead_Right</string>
					<key>Repeat</key>
					<false/>
					<key>Name</key>
					<string>Dead_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Dead_Left</string>
					<key>Repeat</key>
					<false/>
					<key>Name</key>
					<string>Dead_Right</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>MaxHealth</key>
			<string>100</string>
			<key>CurrentHealth</key>
			<string>100</string>
			<key>UnitName</key>
			<string>Boss</string>
			<key>Type</key>
			<string>OGBoss</string>
			<key>PhysicsBodyRadius</key>
			<integer>50</integer>
			<key>Textures</key>
			<array>
				<dict>
					<key>Pair</key>
					<string>Idle_Right</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Idle_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Idle_Left</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Idle_Right</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Walk_Right</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Walk_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Walk_Left</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Walk_Right</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Run_Left</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Run_Right</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Run_Right</string>
					<key>Repeat</key>
					<true/>
					<key>Name</key>
					<string>Run_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Attack_Right</string>
					<key>Repeat</key>
					<false/>
					<key>Name</key>
					<string>Attack_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Attack_Left</string>
					<key>Repeat</key>
					<false/>
					<key>Name</key>
					<string>Attack_Right</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Dead_Right</string>
					<key>Repeat</key>
					<false/>
					<key>Name</key>
					<string>Dead_Left</string>
				</dict>
				<dict>
					<key>Pair</key>
					<string>Dead_Left</string>
					<key>Repeat</key>
					<false/>
					<key>Name</key>
					<string>Dead_Right</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Weapon</key>
	<array>
		<dict>
			<key>ReloadSpeed</key>
			<real>1.2</real>
			<key>AttackSpeed</key>
			<real>0.5</real>
			<key>Charge</key>
			<integer>20</integer>
			<key>Audio</key>
			<array>
				<dict>
					<key>AudioName</key>
					<string>shot</string>
					<key>Key</key>
					<string>weapon_attack</string>
				</dict>
				<dict>
					<key>AudioName</key>
					<string>weapon_reload</string>
					<key>Key</key>
					<string>weapon_recharge</string>
				</dict>
			</array>
			<key>UnitName</key>
			<string>weapon_01</string>
		</dict>
		<dict>
			<key>ReloadSpeed</key>
			<real>0.5</real>
			<key>AttackSpeed</key>
			<real>0.2</real>
			<key>Charge</key>
			<integer>30</integer>
			<key>Audio</key>
			<array>
				<dict>
					<key>AudioName</key>
					<string>laser_shooting_sfx</string>
					<key>Key</key>
					<string>weapon_attack</string>
				</dict>
			</array>
			<key>UnitName</key>
			<string>weapon_02</string>
		</dict>
	</array>
	<key>Doors</key>
	<array>
		<dict>
			<key>Source</key>
			<string>room1</string>
			<key>Destination</key>
			<string>room2</string>
			<key>Audio</key>
			<array>
				<dict>
					<key>AudioName</key>
					<string>door_open</string>
					<key>Key</key>
					<string>door_open</string>
				</dict>
			</array>
			<key>UnitName</key>
			<string>door_01</string>
		</dict>
		<dict>
			<key>Source</key>
			<string>room2</string>
			<key>Destination</key>
			<string>room3</string>
			<key>Audio</key>
			<array>
				<dict>
					<key>AudioName</key>
					<string>door_open</string>
					<key>Key</key>
					<string>door_open</string>
				</dict>
			</array>
			<key>UnitName</key>
			<string>door_02</string>
		</dict>
		<dict>
			<key>Keys</key>
			<array>
				<string>red_key</string>
			</array>
			<key>Locked</key>
			<true/>
			<key>Destination</key>
			<string>room4</string>
			<key>Source</key>
			<string>room3</string>
			<key>Audio</key>
			<array>
				<dict>
					<key>AudioName</key>
					<string>door_open</string>
					<key>Key</key>
					<string>door_open</string>
				</dict>
			</array>
			<key>UnitName</key>
			<string>door_03</string>
		</dict>
		<dict>
			<key>Destination</key>
			<string>room5</string>
			<key>Source</key>
			<string>room3</string>
			<key>Audio</key>
			<array>
				<dict>
					<key>AudioName</key>
					<string>door_open</string>
					<key>Key</key>
					<string>door_open</string>
				</dict>
			</array>
			<key>UnitName</key>
			<string>door_04</string>
		</dict>
		<dict>
			<key>Keys</key>
			<array>
				<string>blue_key</string>
			</array>
			<key>Locked</key>
			<true/>
			<key>Destination</key>
			<string>room6</string>
			<key>Source</key>
			<string>room3</string>
			<key>Audio</key>
			<array>
				<dict>
					<key>AudioName</key>
					<string>door_open</string>
					<key>Key</key>
					<string>door_open</string>
				</dict>
			</array>
			<key>UnitName</key>
			<string>door_05</string>
		</dict>
	</array>
</dict>
</plist>
