<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>InGameSounds</key>
	<dict>
		<key>door_open</key>
		<string>door_open</string>
		<key>weapon_shot</key>
		<string>shot</string>
	</dict>
	<key>Audio</key>
	<dict>
		<key>button_touch</key>
		<string>button_touch</string>
		<key>background_music</key>
		<string>background_music_1</string>
	</dict>
	<key>TextureAtlases</key>
	<dict>
		<key>Boss</key>
		<dict>
			<key>Walk_Left</key>
			<string>BossWalkL</string>
			<key>Walk_Right</key>
			<string>BossWalkR</string>
			<key>Idle_Left</key>
			<string>BossIdleL</string>
			<key>Idle_Right</key>
			<string>BossIdleR</string>
			<key>Run_Left</key>
			<string>BossRunL</string>
			<key>Run_Right</key>
			<string>BossRunR</string>
			<key>Attack_Left</key>
			<string>BossAttackL</string>
			<key>Attack_Right</key>
			<string>BossAttackR</string>
			<key>Dead_Left</key>
			<string>BossDeadL</string>
			<key>Dead_Right</key>
			<string>BossDeadR</string>
		</dict>
	</dict>
</dict>
</plist>
