<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TextureAtlases</key>
	<dict>
		<key>Player</key>
		<dict>
			<key>Walk_Left</key>
			<string>PlayerBotWalkL</string>
			<key>Walk_Right</key>
			<string>PlayerBotWalkR</string>
			<key>Idle_Left</key>
			<string>PlayerBotIdleL</string>
			<key>Idle_Right</key>
			<string>PlayerBotIdleR</string>
		</dict>
	</dict>
</dict>
</plist>
