<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ClassName</key>
		<string>OGMainMenuScene</string>
		<key>FileName</key>
		<string>OGMainMenuScene</string>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>OGMapMenuScene</string>
		<key>FileName</key>
		<string>OGMapMenuScene</string>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>OGSettingsMenuScene</string>
		<key>FileName</key>
		<string>OGSettingsMenuScene</string>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>OGShopMenuScene</string>
		<key>FileName</key>
		<string>OGShopMenuScene</string>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>OGStoryScene</string>
		<key>FileName</key>
		<string>Level1_Story_iPad</string>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>OGLevel1</string>
		<key>FileName</key>
		<string>Level1_iPad</string>
		<key>NeedLoadDefaultResources</key>
		<true/>
		<key>CustomResourcesFileName</key>
		<string>Level1_CustomResources</string>
		<key>LoadableClasses</key>
		<array>
			<string>OGZombie</string>
			<string>OGBoss</string>
			<string>OGShootingWeapon</string>
			<string>OGEnemyEntity</string>
			<string>OGDoorEntity</string>
			<string>OGBullet</string>
			<string>OGPlayerEntity</string>
		</array>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>OGStoryScene</string>
		<key>FileName</key>
		<string>Level2_Story_iPad</string>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>OGLevel2</string>
		<key>FileName</key>
		<string>Level2_iPad</string>
		<key>NeedLoadDefaultResources</key>
		<false/>
		<key>CustomResourcesFileName</key>
		<string>Level2_CustomResources</string>
		<key>LoadableClasses</key>
		<array>
			<string>OGPlayerEntity</string>
		</array>
	</dict>
</array>
</plist>
